<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../semantic/build/semantic.css">
    <link rel="stylesheet" href="../build/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="wrapper">
                <div class="nav-logo">TrainingCollege</div>
                <div class="nav-item-group">
                    <div class="nav-item">课程</div>
                    <div class="nav-item">个人</div>
                    <div class="nav-item">机构</div>
                </div>
                <div class="nav-button-group">
                    <button class="ui icon button">
                        <i class="sign out icon"></i>
                    </button>
                </div>
            </div>
        </nav>
        <div class="nav-title">Day Day up</div>
    </header>
    <div class="container">
        <div class="wrapper">
            <div class="ui vertical menu">
                <a class="active item">全部课程</a>
                <a class="item">我的课程</a>
                <a class="item">已完成课程</a>
            </div>
            <div class="content">
                <div class="segment-title">
                    <div class="title-rect"></div>
                    <div class="h3">课程列表</div>
                </div>
                <div class="ui action input search-input">
                    <input type="text" placeholder="Search...">
                    <button class="ui icon button primary">
                        <i class="search icon"></i>
                    </button>
                </div>
                <div class="course-card-group">
                    <div class="ui card course-card">
                        <div class="image">
                            <img src="/images/avatar2/large/kr">
                        </div>
                        <div class="content">
                            <a class="header">演员的自我修养</a>
                            <div class="meta">
                                <span class="date">开始于 2013-10-10</span>
                            </div>
                            <div class="description">尹天仇</div>
                            <div class="price">¥360</div>
                        </div>
                    </div>
                    <div class="ui card course-card">
                        <div class="image">
                            <img src="/images/avatar2/large/kr">
                        </div>
                        <div class="content">
                            <a class="header">演员的自我修养</a>
                            <div class="meta">
                                <span class="date">开始于 2013-10-10</span>
                            </div>
                            <div class="description">尹天仇</div>
                            <div class="price">¥360</div>
                        </div>
                    </div>
                    <div class="ui card course-card">
                        <div class="image">
                            <img src="/images/avatar2/large/kr">
                        </div>
                        <div class="content">
                            <a class="header">演员的自我修养</a>
                            <div class="meta">
                                <span class="date">开始于 2013-10-10</span>
                            </div>
                            <div class="description">尹天仇</div>
                            <div class="price">¥360</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>